html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: "Muli", sans-serif;
}
h1 {
    font-weight: 700;
}
.landing-container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.landing-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-row-search {
    margin-top: 50px;
}

.landing-cta-col {
    padding-left: 50px;
}
.input-container {
    color: #cecece;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #dedede;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.input-container input {
    border: 0px;
    padding: 0px !important;
    text-align: center;
    border-radius: 0.25rem !important;
}
.input-container input::placeholder {
    text-align: center;
    color: #cecece;
}

.input-container button {
    display: none;
}

.input-container .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-container .row {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.input-container .left {
    border-right: solid 2px #dedede;
}

.input-button {
    width: 100%;
    min-width: 123px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.06);
    background-color: #7790ff;
}

.input-container p {
    margin-bottom: 0px;
}
.hero-img {
    height: 300px;
    max-width: 100%;
}
